<h1>Percentage of fields meeting 'T'</h1>

<table>
	<thead>
		<tr>
			<th>Year</th>
			<th>@T</th>
			<th>Total</th>
			<th>Percentage of fields meeting 'T'</th>
		</tr>
	</thead>
	<tbody>
<% @calcYear.each do |r| %>
  <%  @tCount = Season.active.byCounty(@countyName).byYear(r).tol.count %>
  <%  @yCount = Season.active.byCounty(@countyName).byYear(r).count.to_f %>
		<tr>
			<td><%= r %></td>
			<td><%= @tCount %></td>
			<td><%= @yCount %></td>
			<td><%= '%.2f'%((@tCount/@yCount)*100) + '%' %></td>
		</tr>
<% end %>
	</tbody>
</table>
<br />
<br />