<h1>Average Annual Soil Loss by Tillage</h1>


<% @calcYear.each do |r| %>
  <% @results = Season.active.byWatershed(@shedName).byYear(r).tilR2avg %>
<table>
	<thead>
		<tr>
			<th><%= r %> Tillage</th>
			<th>Average Soil Loss</th>
		</tr>
	</thead>
	<tbody>
		<% @results.each do |t| %>
		<tr>
			<td><%= t[0] %></td>
			<td><%= '%.2f'%t[1] %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<br />
<% end %>